@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');

:root {
    --transition-time: 2.5s; /* default; is being synced automatically in script.js */
    --circle-diameter: 3rem;
}

* {
    margin: 0;
	padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fefae0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.circle {
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    position: absolute;
    background: radial-gradient(circle, rgb(238, 243, 209) 50%, rgba(233,237,201,1) 100%);
    border-radius: 50%;
    animation: circleZoomIn var(--transition-time) ease-in-out infinite;
    -webkit-box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.14) inset;
    -moz-box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.14) inset;
    box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.14) inset;
}

@keyframes circleZoomIn {
    0% {
        opacity: 0;
    }
    
    30% {        
        opacity: 1;
    }
    
    100% {
        transform: scale(12);
        opacity: 0;
    }
}

header {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    width: 100vw;
    height: 100vh;
    background: black;
    user-select: none;
    color: #898f77;
    opacity: 0; /* initial set to zero such that after animation it doesn't show up */
    animation: disappear 8s ease-out; /* name duration timing-function delay iteration-count direction fill-mode; */
}

header h1 {
    word-spacing: 2px;
    letter-spacing: 1px;
}

header h2 a {
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration-thickness: 1px;
	text-decoration-color: #ffffffb0;
	text-underline-offset: 7px;
	transition: all 0.1s ease-in;
    color: #898f77;
}

footer {
    top: 95vh;
    position: sticky;
    text-align: center;
    font-size: 0.8rem;
    user-select: none;
    color: #898f77;
    opacity: 0; /* initial set to zero such that after animation it doesn't show up */
    animation: disappear 15s ease-out; /* name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
